In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
from google.colab import drive
import io
import pandas as pd
import seaborn as sns
import math
#import sklearn as sk
from sklearn.model_selection import train_test_split
import functools

In [ ]:
data=files.upload()

Saving Pneumococcus_2009-Present_DSH_Casebase_Data.csv to Pneumococcus_2009-Present_DSH_Casebase_Data.csv

In [ ]:
df=pd.read_csv(io.StringIO(data['Pneumococcus_2009-Present_DSH_Casebase_Data.csv'].decode('utf-8')))

In [ ]:
df.drop(df[df['serotype'] == 'ND'].index, inplace = True)
df.drop(df[df['serotype'] == 'NoPCV13'].index, inplace = True)
df.drop(df[df['serotype'] == 'QNS'].index, inplace = True)
df.drop(df[df['serotype'] == 'NTD'].index, inplace = True)
df.drop(df[df['serotype'] == 'NON TYPABLE'].index, inplace = True)
df.drop(df[df['year'] == '2022'].index, inplace = True)

In [ ]:
df.drop(columns=['Zila','Address','UniqueID','month','AdmDate','Age (month)','Case Definition','Outcome','Discharge Date','Hospital Duration','organism'],inplace=True)

In [ ]:
df

     year serotype
0    2009        1
4    2009        2
6    2009        1
8    2009       12
9    2009       14
..    ...      ...
784  2022        5
785  2022        1
786  2022        1
787  2022        1
788  2022      23F

[594 rows x 2 columns]

In [ ]:
df = df.assign(sero_1=df['serotype']=='1')
df.sero_1 = df.sero_1.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_4=df['serotype']=='4')
df.sero_4 = df.sero_4.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_5=df['serotype']=='5')
df.sero_5 = df.sero_5.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_6B=df['serotype']=='6B')
df.sero_6B = df.sero_6B.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_7F=df['serotype']=='7F')
df.sero_7F = df.sero_7F.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_9B=df['serotype']=='9V')
df.sero_9B = df.sero_9B.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_14=df['serotype']=='14')
df.sero_14 = df.sero_14.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_18C=df['serotype']=='18C')
df.sero_18C = df.sero_18C.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_19F=df['serotype']=='19F')
df.sero_19F = df.sero_19F.replace({True: 1, False: 0})

In [ ]:
df = df.assign(sero_23F=df['serotype']=='23F')
df.sero_23F = df.sero_23F.replace({True: 1, False: 0})

In [ ]:
df

,year,serotype,sero_1,sero_4,sero_5,sero_6B,sero_7F,sero_9B,sero_14,sero_18C,sero_19F,sero_23F
0,2009,1,1,0,0,0,0,0,0,0,0,0
4,2009,2,0,0,0,0,0,0,0,0,0,0
6,2009,1,1,0,0,0,0,0,0,0,0,0
8,2009,12,0,0,0,0,0,0,0,0,0,0
9,2009,14,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
784,2022,5,0,0,1,0,0,0,0,0,0,0
785,2022,1,1,0,0,0,0,0,0,0,0,0
786,2022,1,1,0,0,0,0,0,0,0,0,0
787,2022,1,1,0,0,0,0,0,0,0,0,0
788,2022,23F,0,0,0,0,0,0,0,0,0,1

In [ ]:
by_comp = df.groupby("year")
df1=by_comp.sum()
df1.reset_index()

,year,sero_1,sero_4,sero_5,sero_6B,sero_7F,sero_9B,sero_14,sero_18C,sero_19F,sero_23F
0,2009,3,0,0,0,1,0,1,0,0,1
1,2010,4,0,1,0,0,0,1,0,1,1
2,2011,2,1,1,2,4,0,0,0,4,6
3,2012,5,0,3,3,0,0,1,0,1,1
4,2013,3,0,4,5,1,1,2,2,7,2
5,2014,3,0,4,3,1,2,2,1,3,3
6,2015,4,0,4,3,0,1,2,5,10,4
7,2016,2,1,0,2,2,2,2,3,2,1
8,2017,6,0,0,2,0,0,1,0,1,5
9,2018,7,0,3,0,0,1,0,0,1,2
10,2019,6,0,5,0,0,0,0,1,1,1
11,2020,6,0,2,0,0,1,0,2,0,1
12,2021,1,0,0,0,0,0,1,1,0,0
13,2022,3,0,1,0,0,0,0,0,0,1

In [ ]:
col_list= list(df1.reset_index())
col_list.remove('year')
df1['Sum_PCV_10'] = df1[col_list].sum(axis=1)
df1.reset_index()

,year,sero_1,sero_4,sero_5,sero_6B,sero_7F,sero_14,sero_18C,sero_19F,sero_23F,Sum_PCV_10
0,2009,3,0,0,0,1,1,0,0,1,6
1,2010,4,0,1,0,0,1,0,1,1,8
2,2011,2,1,1,2,4,0,0,4,6,20
3,2012,5,0,3,3,0,1,0,1,1,14
4,2013,3,0,4,5,1,2,2,7,2,26
5,2014,3,0,4,3,1,2,1,3,3,20
6,2015,4,0,4,3,0,2,5,10,4,32
7,2016,2,1,0,2,2,2,3,2,1,15
8,2017,6,0,0,2,0,1,0,1,5,15
9,2018,7,0,3,0,0,0,0,1,2,13
10,2019,6,0,5,0,0,0,1,1,1,14
11,2020,6,0,2,0,0,0,2,0,1,11
12,2021,1,0,0,0,0,1,1,0,0,3
13,2022,3,0,1,0,0,0,0,0,1,5

In [ ]:
df1.drop(columns=['sero_1','sero_4','sero_5','sero_6B','sero_7F','sero_14','sero_18C','sero_19F','sero_23F'],inplace=True)

In [ ]:
df1

      Sum_PCV_10
year
2009           6
2010           8
2011          20
2012          14
2013          26
2014          20
2015          32
2016          15
2017          15
2018          13
2019          14
2020          11
2021           3
2022           5

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
te=pd.DataFrame(df1.reset_index())
te.to_excel("Sum_PCV_10.xlsx")